version: 2.1

executors:
  rust:
    docker:
      - image: oasislabs/rust:latest
    environment:
      PATH: /root/.local/bin:/root/.cargo/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
      LD_LIBRARY_PATH: /root/.rustup/toolchains/nightly-2019-08-26-x86_64-unknown-linux-gnu/lib
    resource_class: xlarge

commands:
  install_oasis:
    steps:
      - run:
          name: Install Tools
          command: |
            apt-get -qq update
            apt-get -qq install python curl git gcc
            curl --proto '=https' --tlsv1.2 -sSL https://get.oasis.dev | python

  build_and_test_service:
    description: "Builds and tests a tutorial Rust service"
    parameters:
      tutorial:
        type: string
    steps:
      - run:
          name: Build << parameters.tutorial >>
          working_directory: << parameters.tutorial >>/service
          command: oasis build
      - run:
          name: Test << parameters.tutorial >>
          working_directory: << parameters.tutorial >>/service
          command: oasis test


jobs:
  build_test:
    executor: rust
    steps:
      - checkout
      - install_oasis
      - build_and_test_service:
          tutorial: hello-world
      - build_and_test_service:
          tutorial: ballot
  build_ballot:
    environment:
      IMAGE_NAME: oasislabs/tutorials
    docker:
      - image: circleci/buildpack-deps:stretch
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Build Tutorials Docker image
          working_directory: .circleci
          command: docker build -t $IMAGE_NAME:latest .

workflows:
  version: 2

  test:
    jobs:
      - build_test
      - build_ballot
