version: 2.1

jobs:
  build_test:
    docker:
      - image: oasislabs/rust:latest
    environment:
      PATH: /root/.local/bin:/root/.cargo/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
      LD_LIBRARY_PATH: /root/.rustup/toolchains/nightly-2019-08-01-x86_64-unknown-linux-gnu/lib
    steps:
      - checkout
      - run:
        name: Install tools
        command: |
          apt-get -qq update
          apt-get -qq install python curl git gcc
          curl --proto '=https' --tlsv1.2 -sSL https://get.oasis.dev | python
      - run:
        name: Build Hello World
        working_directory: hello-world/service
        command: |
        oasis build
      - run:
        name: Test Hello World
        working_directory: hello-world/service
        command: |
          oasis test
      - run:
        name: Build Secret Ballot
        working_directory: ballot/service
        command: |
          oasis build
      - run:
        name: Test Secret Ballot
        working_directory: ballot/service
        command: |
        oasis test

workflows:
  version: 2

  test:
    jobs:
      - build_test
