version: 2.1

executors:
  rust:
    docker:
      - image: oasislabs/rust:latest
    environment:
      PATH: /root/.local/bin:/root/.cargo/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
      LD_LIBRARY_PATH: /root/.rustup/toolchains/nightly-2019-08-26-x86_64-unknown-linux-gnu/lib
    resource_class: xlarge

commands:
  install_oasis:
    steps:
      - run:
          name: Install Tools
          command: |
            apt-get -qq update
            apt-get -qq install python curl git gcc
            curl --proto '=https' --tlsv1.2 -sSL https://get.oasis.dev | python

jobs:
  build_test:
    executor: rust
    steps:
      - checkout
      - install_oasis
      - run:
          name: Build Hello World
          working_directory: hello-world/service
          command: oasis build
      - run:
          name: Test Hello World
          working_directory: hello-world
          command: oasis-chain > oasis-chain.log & oasis test
      - run:
          name: Build Secret Ballot
          working_directory: ballot/service
          command: oasis build
      - run:
          name: Test Secret Ballot
          working_directory: ballot
          command: oasis-chain > oasis-chain.log & oasis test
      - run:
          name: Build Rock Paper Scissors
          working_directory: rock-paper-scissors
          command: oasis-build
      - run:
          name: Test Rock Paper Scissors
          working_directory: rock-paper-scissors
          command: oasis-chain > oasis-chain.log & oasis test
  build_ballot:
    executor: rust
    steps:
      - checkout
      - install_oasis
      - run:
          name: Install Vue
          command: |
            npm install @vue/cli
      - run:
          name: Build Ballot Service
          working_directory: ballot/service
          command: oasis build
      - run:
          name: Setup Ballot App
          working_directory: ballot
          command: |
            mkdir app/public/assets/bytecode
            cp service/target/service/ballot.wasm app/public/assets/bytecode
      - run:
          name: Build Ballot App
          working_directory: ballot/app
          command: oasis build

      - store_artifacts:
          path: ballot/app/dist

workflows:
  version: 2

  test:
    jobs:
      - build_test
      - build_ballot
